rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	function isAuthed() {
    	return request.auth != null && request.auth.token.email_verified && exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    
    function getCurrentUser() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    
    function hasID(id) {
    	return request.auth.uid == id;
    }
    
    function isApplicant() {
    	return isAuthed() && getCurrentUser().data.role == "applicant";
    }
    
    function isReviewer() {
    	return isAuthed() && (getCurrentUser().data.role == "reviewer" || isBoard());
    }

    function isBoard() {
    	return isAuthed() && (getCurrentUser().data.role == "board" || isSuperReviewer());
    }
    
    function isSuperReviewer() {
    	return isAuthed() && getCurrentUser().data.role == "super-reviewer";
    }

    function isResponseOpen(response) {
      let formDocPath = /databases/$(database)/documents/application-forms/$(response.applicationFormId);
      return exists(formDocPath) && request.time < get(formDocPath).data.dueDate;
    }
    
    match /users/{user_id} {
      // user documents can be read only by the user they represent or reviewers
    	allow read: if isReviewer() || hasID(user_id);
      // user documents can be written to only by the user they represent or super-reviewers
      allow create: if false;
      allow update: if (hasID(user_id) && (!request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['role']))) || isSuperReviewer(); //IMPORTANT: Role can't be updated for security reasons unless by super reviewer!
      allow delete: if isSuperReviewer();
    }

    match /application-forms/{form_id} {
      allow read: if isAuthed();
      allow create: if isSuperReviewer();
      allow update: if isSuperReviewer();
      allow delete: if isSuperReviewer();
    }

    match /application-responses/{response_id} {
      // NOTE: Cannot query in rules, so any reviewer can read any application.
      // Frontend queries should filter this to only assigned applications.
      allow read: if isReviewer() || hasID(resource.data.userId);
      allow create: if isApplicant() && request.resource.data.status == 'in-progress' && isResponseOpen(request.resource.data) && hasID(request.resource.data.userId);
      allow update: if isApplicant() && hasID(resource.data.userId) && resource.data.status == 'in-progress' && isResponseOpen(resource.data);
      allow delete: if (isApplicant() && hasID(resource.data.userId)) || isSuperReviewer();
    }

    match /review-assignments/{assignment_id} {
      allow read: if isSuperReviewer() || (isReviewer() && hasID(resource.data.reviewerId));
      allow write: if isSuperReviewer();
    }

    match /interview-assignments/{assignment_id} {
      allow read: if isBoard() || (isReviewer() && hasID(resource.data.interviewerId));
      // TODO: this should allow board but NOT super-reviewer in the end; keeping this for testing
      allow write: if isSuperReviewer() || isBoard(); 
    }

    match /review-data/{review_id} {
      allow read: if (isReviewer() && hasID(resource.data.reviewerId)) || isSuperReviewer();
      allow create: if isReviewer() && hasID(request.resource.data.reviewerId);
      allow update: if isReviewer() && hasID(request.resource.data.reviewerId);
      allow delete: if isSuperReviewer() || hasID(resource.data.reviewerId);
    }

    match /interview-data/{review_id} {
      allow read: if (isReviewer() && hasID(resource.data.interviewerId)) || isBoard();
      allow create: if isReviewer() && hasID(request.resource.data.interviewerId);
      allow update: if isReviewer() && hasID(request.resource.data.interviewerId);
      allow delete: if isSuperReviewer() || hasID(resource.data.interviewerId);
    }

    match /app-status/{status_id} {
      allow read: if isBoard();
      allow write: if isSuperReviewer();
    }

    match /rubrics/{rubric_id} {
      allow read: if isReviewer();
      allow write: if isSuperReviewer();
    }

    match /interview-rubrics/{rubric_id} {
      allow read: if isReviewer();
      allow write: if isSuperReviewer();
    }
    
    // by default, all documents should be inaccessible to reads and writes
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
