.boxed {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.prompt {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.textbox {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.domain-link {
  color: #007bff;
  font-size: 14px;
}

.domain-link:hover {
  text-decoration: underline;
}

.switch-link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.switch-link:hover {
  text-decoration: underline;
}

/* Error styles for input boxes */
.textbox.error {
  border: 1px solid #ff4d4f;
  /* Red border for error */
  background-color: #fff0f0;
  /* Light red background */
  color: #d32f2f;
  /* Red text */
}

/* Error message styles */
.error-message {
  color: #d32f2f;
  /* Red color for error text */
  font-size: 14px;
  /* Slightly smaller font size */
  margin-top: -15px;
  /* Adjust to position error message below the input */
  margin-bottom: 10px;
  text-align: center;
  /* Align message with input box */
}